<% layout("layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h1>Edit your Listing</h1>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"
                            required />
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please enter title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter description</div>
                    </div>

                    <div class="mb-3">
                        <p>Original Listing Image</p>
                        <img src="<%= originalImageUrl %>">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]"  type="file" class="form-control"/>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" value="<%= listing.price %>" class="form-control" required />
                            <div class="invalid-feedback">Please enter valid price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input name="listing[location]" value="<%= listing.location %>" type="text"
                                class="form-control" required />
                            <div class="invalid-feedback">Please enter the location</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                            required />
                        <div class="invalid-feedback">Please enter the country name</div>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">category</label>
                        <select class="form-select" name="listing[category]" required>
                            <option disabled>Choose category</option>
                            <option value="rooms" <%= listing.category == "rooms"? 'selected' : '' %> >Room</option>
                            <option value="iconic-city" <%= listing.category == "iconic city"? 'selected' :'' %> >Iconic City</option>
                            <option value="mountain" <%= listing.category == "mountain"? 'selected' : '' %> >Mountain</option>
                            <option value="castles" <%= listing.category == "castles"? 'selected' : '' %>>Castle</option>
                            <option value="swimming pools" <%= listing.category == "swimming pools"? 'selected' :'' %>>Amazing Pool</option>
                            <option value="camping" <%= listing.category == "camping"? 'selected' :'' %>>Camping</option>
                            <option value="farms" <%= listing.category == "farms"? 'selected' :'' %>>Farm</option>
                            <option value="arctic" <%= listing.category == "arctic"? 'selected' :'' %>>Arctic</option>
                            <option value="boats" <%= listing.category == "boats"? 'selected' : '' %>>Boat</option>
                        </select>
                    </div>

                    <button class="btn btn-dark add-btn mt-3">Edit</button>
                </form>
            </div>
        </div>
    </body>